@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pnw-gold: #CFB87C;
  --pnw-black: #000000;
}

body {
  margin: 0;
  padding: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #CFB87C;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8a06d;
}
